*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;
}
.container{
    background-color: black;
    color: white;
    padding: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{

    width: 100px;
    
}
.menu{
    display: flex;
    
    
}
.home{
   /* margin: 10px; */
   margin-right: 20px;
   padding: 10px;
   font-size: 20px;
   cursor: pointer;
  
}
.home:hover{
    color: greenyellow;
}

.banner-img{
    width: 400px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url("./Image/white image.jpg"),
    linear-gradient(45deg,rgba(13, 13, 13, 0.896),black);
    color: white;
}
.title{
    font-size: 50px;
    font-weight: bold;
}
.description{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn{
    padding: 10px 15px;
    background-color: bisque;
    cursor: pointer;
    border: none;
}
.btn:hover{
    background-color: black;
    color: white;
}