*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;
}
.container{
    background-color: black;
    color: white;
    padding: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{

    width: 100px;
    
}
.menu{
    display: flex;
    
    
}
.home{
   /* margin: 10px; */
   margin-right: 20px;
   padding: 10px;
   font-size: 20px;
   cursor: pointer;
  
}
.home:hover{
    color: greenyellow;
}

.banner-img{
    width: 400px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url("./Image/white image.jpg"),
    linear-gradient(45deg,rgba(13, 13, 13, 0.896),black);
    color: white;
}
.title{
    font-size: 50px;
    font-weight: bold;

}
.description{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn{
    padding: 10px 15px;
    background-color: bisque;
    cursor: pointer;
    border: none;
    font-size: 16px;
}
.btn:hover{
    background-color: black;
    color: white;
}
.about{
    
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-text p{
    margin-top: 10px;
    margin-bottom: 20px;
}
.our-service{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
    padding: 40px;
}
.box{
    width: 230px;
    height: 260px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.icon{
    width: 80px;

}
.box-btn{
    background-color: gray;
    margin-top: 10px;
}
.web{
    margin-top: 10px;
    margin-bottom: 10px;
}
.box-btn:hover{
    background-color: bisque;
    color: black;
}
.service-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    
    
}
.service{
    background-color: rgba(13, 13, 13, 0.896);
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 100px 150px 100px;
    
    
}
.all-footer{
    background-color: black;
    color: white;
}
.links{
    list-style: none;
}
.links h4{
    margin-bottom: 20px;
}
.links li{
    margin: 5px;
}
.first-footer h2{
    margin-bottom: 20px;
}
.copy-right{
    margin-top: 100px;
}
.last-footer p{
    text-align: center;
    padding: 15px;

}
.last-footer hr{
    width: 1000px;
    align-items: center;
    text-align: center;
    padding-left: 50px;
}

